<div ng-init="ctrl.init()">
        <h1 align="center">Whiteboard</h1>
        <br>
        <canvas id="canvas" width="600" height="400" style="position:absolute;left:15%;border:2px solid;"></canvas>

        <div style="position:absolute;top:500px">
        <h4 align="center">Grosor</h4><select class="form-control" style="position:absolute;left:45%;width:80px" ng-model="ctrl.y" ng-options="t for t in ctrl.grosor"></select></h4>
        <br>
        <h3 align="center">Elegir Color</h3>
        <div class="btn-group" style="left:40%">
        <button style="width:20px;height:20px;background:green;" id="green" ng-click="ctrl.color($event)"></button>
        <button style="width:20px;height:20px;background:blue;" id="blue" ng-click="ctrl.color($event)"></button>
        <button style="width:20px;height:20px;background:red;" id="red" ng-click="ctrl.color($event)"></button>
        <button style="width:20px;height:20px;background:yellow;" id="yellow" ng-click="ctrl.color($event)"></button>
        <button style="width:20px;height:20px;background:orange;" id="orange" ng-click="ctrl.color($event)"></button>
        <button style="width:20px;height:20px;background:black;" id="black" ng-click="ctrl.color($event)"></button>
      </div>
        <h3 align="center">Borrador</h3>
        <div class="btn-group" style="left:50%">
        <button style="left:40%;width:20px;height:20px;background:white;border:2px solid;" id="white" ng-click="ctrl.color($event)"></button>
      </div>
        <img id="canvasimg" style="display:none;">
        <br>

        <div class="btn-group" style="left:40%">
        <button  type="button" class="btn btn-primary" id="btn" size="30" ng-click="ctrl.save()" >Guardar</button>
        <button type="button" class="btn btn-primary" id="clr" size="23" ng-click="ctrl.erase()" >Borrar todo</button>
      </div>
        <br>
        <h2>Imagenes guardadas</h2>
        <div class="imagenes"></div>
      </div>

</div>

