<div id="control" class="testimonial-group">
<div class="d-inline-block row">
	<div class="col-md-1"></div>
	<div class="col-md-4 kanban"  >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Nuevo</h2></div>
		<div id="NUEVO" style="min-height:450px;height: 100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

	</div>
	<div class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>En progreso</h2></div>
		<div id="EN_PROGRESO" style="min-height:450px;height: 100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	<div class="col-md-4 kanban">
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Listo para probar</h2></div>
		<div id="PARA_TESTEAR" style="min-height:450px;height: 100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	<div class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Cerrado</h2></div>
		<div id="CERRADO" style="min-height:450px;height: 100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	<div  class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Investigar</h2></div>
		<div id="INVESTIGAR" style="min-height:450px;height: 100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	
	<div class="col-md-1"></div>
</div>
</div>
<div >


	<uib-accordion close-others="oneAtATime"> 
	<div id="{{task.nombre}}" draggable="true" ondragstart="drag(event)" uib-accordion-group class="panel-default"   ng-repeat="task in ctrl.tasks" ng-click="ctrl.seleccionar(this)">
	  <uib-accordion-heading>
        <strong>{{task.nombre}} </strong><i align="right" class="fa fa-file-text fa-fw" aria-hidden="true"></i>
        <br>
        <strong> Estado:{{task.estado}}</strong>

      </uib-accordion-heading>
      <p>Descripcion: <strong>{{task.descripcion}}</strong></p>
      <p>Prioridad: <strong>{{task.prioridad}}</strong></p>
      <p>Dificultad: <strong>{{task.dificultad}}</strong></p>
      <p>Usuario asignado: <strong>{{task.asignado.usuario}}</strong></p>
      <p>Fecha de expiracion: <strong>{{task.expiracion}}</strong></p>
      <button class="btn btn-info" ng-click="ctrl.editarTask()"> Editar Seleccionado</a></button>  
	  <button class="btn btn-danger" ng-click="ctrl.delete()">Borrar Seleccionado</button>
    </div>
</uib-accordion>

</div>
{{ctrl.ordenarTasks()}}
